$color-background: lightgray;
$color-border: black;
$color-text: maroon;
$color-text-light: white;
$color-link: blue;
$color-button: #2196f3;
$color-background-nav: rgb(175, 173, 173);
$color-background-footer: rgb(175, 173, 173);
$navbar-height: 40px;
$footer-height: 40px;
