/* semantic color variables for this project */
:root {
  --color-background: gray;
  --color-border: black;
  --color-text: blue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: black;
    --color-border: gray;
    --color-text: whitesmoke;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  color: var(--color-text);
  background: var(--color-background);
  font-family: Roboto, sans-serif;
}
